
<div class="w-50 mx-auto">
    <h1 class="text-center">Finalizar Compra</h1>
    <ul class="list-group list-group-flush">
        <form method="post">
            @foreach (Libro libro in Model) {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/images/@libro.Portada" class="img-fluid"
                                 style="width:200px!important; height:250px!important;" />
                        </div>
                        <div class="col-md-8">
                            <h5 class="card-title">@libro.Titulo · @libro.Autor</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@libro.Precio €</h6>
                            <input type="hidden" name="libro" value="@libro.IdLibro" />
                            <input type="number" name="cantidad" value="1" />
                            <a asp-action="FinalizarCompra" asp-controller="Carrito"
                               asp-route-quitado="@libro.IdLibro">Quitar</a>
                        </div>
                    </div>
                </li>
            }
            <button type="submit" class="btn btn-outline-dark">Comprar</button>
        </form>
    </ul>
</div>